@import "../../scss/variables.scss";

// Second section with filter button that filters out characters and plus button

.second-section {
  .h2-section {
    align-items: inherit;
    color: $text-color;
    display: flex;
    font-weight: $primary-font-weight;
    justify-content: center;
    padding: 58px 0 46px 0;

    @media (min-width: map-get($breakpoints, "xs")) {
      font-size: $font-size-h2-max-md;
    }

    @media (min-width: map-get($breakpoints, "sm")) {
      font-size: $font-size-h2-max-md;
    }

    @media (min-width: map-get($breakpoints, "md")) {
      font-size: $font-size-h2-max-md;
    }

    @media (min-width: map-get($breakpoints, "lg")) {
      font-size: $font-size-h2-max-xl;
    }

    @media (min-width: map-get($breakpoints, "xl")) {
      font-size: $font-size-h2-max-xl;
    }

    @media (min-width: map-get($breakpoints, "xxl")) {
      font-size: $font-size-h2-max-xxxl;
    }
  }

  .filter-container {
    display: flex;
  }

  .filters {
    align-items: center;
  }

  .characters {
    border-radius: 6px;

    @media (min-width: map-get($breakpoints, "xs")) {
      margin-left: 6px;
    }

    @media (min-width: map-get($breakpoints, "sm")) {
      margin-left: 6px;
    }

    @media (min-width: map-get($breakpoints, "md")) {
      margin-left: 6px;
    }

    @media (min-width: map-get($breakpoints, "lg")) {
      margin-left: 12px;
    }

    @media (min-width: map-get($breakpoints, "xl")) {
      font-size: 18px;
      margin-left: 12px;
    }

    @media (min-width: map-get($breakpoints, "xxl")) {
      font-size: 18px;
      margin-left: 12px;
    }
  }

  .second-card-container {
    border-bottom: 4px solid $text-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 70px;
    width: 100%;
  }

  .button-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .button {
    background: linear-gradient($background-color 50%, $footer 50%);
    color: $text-color;
    position: absolute;
  }

  .plus-icon {
    height: 60px;
    width: 60px;
  }
}
